*
!.gitignore

!.config/
!.config/fish/
!.config/fish/*
!.config/fish/functions/
!.config/fish/functions/*

!.config/i3/
!.config/i3/config

!.config/alacritty/
!.config/alacritty/alacritty.yml

!.config/nvim/
!.config/nvim/*
!.config/nvim/UltiSnips/*

!.vimrc
!.vim/
!.vim/.vimrc
!.vim/autoload/
!.vim/autoload/plug.vim

!.tmux.conf

!.bin/
!.bin/log
