*
!.gitignore

!.config/
!.config/fish/
!.config/fish/config.fish
!.config/fish/functions/
!.config/fish/functions/*

!.config/i3/
!.config/i3/config

!.config/alacritty/
!.config/alacritty/alacritty.yml

!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/after/
!.config/nvim/after/plugin/
!.config/nvim/after/plugin/*

!.vimrc
!.vim/
!.vim/.vimrc
!.vim/autoload/
!.vim/autoload/plug.vim

!.emacs.d/
!.emacs.d/init.el

!.tmux.conf

!.bin/
!.bin/log

!Library/
!Library/Application\ Support/
!Library/Application\ Support/Code/
!Library/Application\ Support/Code/User/
!Library/Application\ Support/Code/User/settings.json
