snippet beg "boilerplate" bA
#include "stdio.h"

int main() {
	$0

	return 0;
}
endsnippet

snippet for "forloop"
for(int i = 0; i < $0; i++) {
	
}
endsnippet

snippet forj "j forloop"
for(int j = 0; j < $0; j++) {
	
}
endsnippet

snippet printf "debug var"
printf("$1: %d$0", $1); 
endsnippet
